<div class="card my-1">

    <span class="card-body d-flex justify-content-between">

        <span class="fs-5">@MyItem.Name</span>
        <button class="btn btn-sm btn-outline-danger" @onclick="@(() => DeleteItem())">Eliminar</button> 

    </span>

</div>
